*{
	margin: 0;
	padding: 0;
	font-size: 10pt;
	box-sizing: border-box; 
}

ul {
	list-style: none;
}

a {
	text-decoration: none; 
}

body {
	font-family: ;
}

/*  ----- CONTAINER GENERAL  -----  */

.container {
	max-width: ;
	margin: 0 auto;
}

canvas { 
    background: #eee; 
	display: block; 
	margin: 50px auto; 
}

/* -----  HEADER  ----- */

.container__header { } 




