#score{
	margin-top: 20px;
    display: inline-block;
}

body{
	background-image: url("../img/background.jpg");
}

div{
	font-size: 25px;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
}

canvas{
	display: block;
	margin:0 auto;
}


button{
	font-family: 'Bangers', cursive;
	color: mediumslateblue;
	background-color: black;
}

.scoreDiv{
	color: mediumslateblue;
}