*{
	margin: 0;
	padding: 0;
	font-size: 10pt;
	box-sizing: border-box; 
}
ul {
	list-style: none;
}
a {
	text-decoration: none; 
}
body {
	font-family: ;
}

/*  ----- CONTAINER GENERAL  -----  */

.container {
	max-width: 550px;
	margin: 10px auto;
}

/* -----  HEADER  ----- */

.container__header { } 

.canvas {
	background: "grey";
}


.reloader {
	text-align: center;
}