*{
	margin: 0;
	padding: 0;
	font-size: 10pt;
	box-sizing: border-box; 
}
ul {
	list-style: none;
}
a {
	text-decoration: none; 
}
body {
	font-family: ;
}

/*  ----- CONTAINER GENERAL  -----  */

.container {
	width: 700px;
	height: 580px;
	margin: 15px auto 0;
	padding-top: 20px;
	text-align: center;
	border: 1px solid red;
}
.image {
	border: 1px solid green;
/* 	display: block;
 */	margin-bottom: 20px;
}
.container__phrase {
	font-size: 18px;
	margin-bottom: 15px;
}
.button-left {
	margin-right: 15px;
}
.button-right {
	margin-left: 15px;
}





